{{!< default}}
    <article id="single-article" class="single-article {{post_class}}">
        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
        <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}}</span>

        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
            <div href="" class="single-arrow">
                <a href="{{@blog.url}}" id="arrow" class="fontawesome-arrow-left single-arrow"></a>
            </div>
        </footer>

        {{/post}}

    </article>